@model IEnumerable<MobilePhoneDistributor_Web.Models.PhoneModel>

@{
    ViewBag.Title = "Index";
}

<h2>Available Phone Models</h2>
@if ((string)Session["role"] == "Staff")
{
    <p>
        @Html.ActionLink("Create A New Phone Model", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhoneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneBrand)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneBrand)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PhoneId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PhoneId })
                </td>
            </tr>
        }

    </table>
}
else
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhoneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneBrand)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneBrand)
                </td>
                <td>
                    @Html.ActionLink("Add To Cart", "AddItem", "OrderCart", new { id=item.PhoneId }, null)
                </td>
            </tr>
        }
    </table>
}